<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%= pageTitle%>
		</title>
		<link rel="shortcut icon" href="/images/Logo-existindo-news.png" type="image/x-icon">


		<link rel="stylesheet" href="/stylesheets/partials/header.css" />
		<link rel="stylesheet" href="/stylesheets/<%= styleSheet%>.css" />
		<link rel="stylesheet" href="/stylesheets/partials/footer.css" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="//localhost:35729/livereload.js"></script>
	</head>

	<body>
		<div class="loader">
			<div class="custom-loader"></div>
		</div>
		<header>
			<a href="/"><img src="/images/Logo-existindo-news.png" alt="Image Logo"><span>ExistindoNews</span></a>
			<nav>
				<% if(user != undefined) { %>
					<button id="profile">
						<span>
							<%= user.nickname%>
						</span>
						<div class="relative">
							<div class="profile">
								<img src="/images/uploads/profiles/<%= user.profile%>" alt="">
							</div>
						</div>
					</button>

					<div class="nav-list">
						<ul>
							<li>
								<a href="/users/dashboard/<%= user.nickname %>">
									<i class="fa-solid fa-user"></i>
									<span>Perfil</span>
								</a>
							</li>
							<%if(user.administrator){%>
								<li>
									<a href="/requests">
										<i class="fa-solid fa-pen-to-square"></i>
										<span>Solicitações</span>
									</a>
								</li>
								<li>
									<a href="/audits">
										<i class="fa-solid fa-pen-to-square"></i>
										<span>Registros de Auditoria</span>
									</a>
								</li>
								<%}%>
									<li>
										<a href="/news/create">
											<i class="fa-solid fa-square-plus"></i>
											<span>Adicionar Notícia</span>
										</a>
									</li>
									<li>
										<a href="/users">
											<i class="fa-solid fa-users"></i>
											<span>Lista de usuarios</span>
										</a>
									</li>
									<li>
										<a href="/developers" target="_blank">
											<i class="fa-sharp fa-solid fa-code"></i>
											<span>Desenvolvedores</span>
										</a>
									</li>
									<li>
										<a href="/donate">
											<i class="fa-solid fa-circle-dollar-to-slot"></i>
											<span>Apoie-nos</span>
										</a>
									</li>
						</ul>
						<div class="log-out">
							<a href="/users/logout">
								<i class="fa-solid fa-right-from-bracket"></i>
								<span>Sair</span>
							</a>
						</div>
						<div class="footer">
							<p>Copyright &copy; - Todos os direitos reservados!</p>
						</div>
					</div>
					<% }else{ %>
						<ul class="buttons-sign-log">
							<li>
								<a href="/users/register">
									<i class="fa-solid fa-user"></i>
									<span>Cadastrar</span>
								</a>
							</li>
							<li>
								<a href="/users/login">
									<i class="fa-solid fa-right-to-bracket"></i>
									<span>Entrar</span>
								</a>
							</li>
						</ul>
						<% } %>
			</nav>
		</header>