<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | HOME' , styleSheet: 'index' }) %>
	<main>
		<section class="cover">
			<div class="background">
				<div class="capa">
					<div class="left">
						<h2>Ultimas notícias</h2>
						<div class="card">
							<div class="img">
								<img src="images/image-news/n1.png" alt="" />
							</div>
							<div class="text">
								<h3>
									Por que o Brasil tem caído em ranking global de desigualdade
									de gênero
								</h3>
								<p>
									'Progresso no mundo é lento, mas Brasil avança ainda mais
									devagar no combate à desigualdade de gênero', resume
									economista.
								</p>

								<div class="more">
									<a href="https://g1.globo.com/mundo/noticia/2023/03/06/por-que-brasil-tem-caido-em-ranking-global-de-desigualdade-de-genero.ghtml"
										target="_blank">Ler Mais</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="img">
								<img src="images/image-news/n2.png" alt="" />
							</div>
							<div class="text">
								<h3>Diferença salarial entre homens e mulheres vai a 22%, diz IBGE</h3>
								<p>
									Mulheres brasileiras recebem, em média, 78% do salário
									masculino. A diferença de remuneração entre homens e mulheres,
									que vinha em tendência de queda até 2020, voltou a subir no
									país e atingiu 22% no fim de 2022
								</p>
								<div class="more">
									<a href="https://www.cnnbrasil.com.br/economia/diferenca-salarial-entre-homens-e-mulheres-vai-a-22-diz-ibge/"
										target="_blank">Ler Mais</a>
								</div>
							</div>
						</div>
					</div>
					<div class="right">
						<span>Atual News</span>
						<h2>ExistindoNews</h2>
						<p>
							Bem-vindo ao nosso site de notícias feministas! Aqui, reunimos
							noticias de diferentes fontes relacionadas ao movimento feminista,
							empoderamento feminino, direitos das mulheres e igualdade de
							gênero.
						</p>
						<div class="news">
							<a href="#news">Notícias</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="news" id="news">
			<div class="header-section">
				<h1>InfoMais - Você sempre informado!</h1>
				<p>
					Pressione em "Ler mais" para ser desviado para a Fonte original com
					conteudo completo
				</p>
				<form class="search-box" action="/" method="get">
					<input type="text" id="search-box" name="search" value="<%= search%>" placeholder="Pesquisar" />
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<p id="response"> Total de <%= totalCards%>
						<%= plural%>
				</p>
			</div>
			<div class="container" id="cardNews">
				<% cards.forEach(function(card) { %>
					<div class="card" id="id_news_<%= card.id%>">
						<div class="box-img">
							<div class="img">
								<img src="<%= card.image %>" target="_blank" alt="">
							</div>
							<div class="details">
								<% if(user !=0) { %>
									<button class="open-dialog" id_news="<%= card.id %>" id_user="<%= card.id %>">
										<i class="fa-solid fa-circle-info"></i>
										<div class="star">
											<div class="star-outer">
												<div class="star-inner" style="width: <%= card.rating %>;"></div>
											</div>
										</div>
									</button>
									<% } %>
										<span class="date">
											<%= card.release %>
										</span>
							</div>
						</div>
						<div class="text">
							<h3>
								<%= card.title %>
							</h3>
							<p>
								<%= card.description %>
							</p>
							<div class="more"><a href="<%= card.link %>" target="_blank"><span>Ler mais</span> <i
										class="fa-solid fa-arrow-right"></i></a></div>
						</div>
					</div>
					<% }); %>
			</div>
			<dialog id="info-card-news">
				<div class="loader">
					<div class="custom-loader"></div>
				</div>
				<button class="close-dialog"></button>
				<div class="details-news">
					<div class="info-news">
						<div class="author">
							<a href="" class="autor-img"><img src="" alt=""></a>
							<div class="text"><a href="" class="author-name">@ariel</a><a href="" class="validator">icon por @adm</a>
							</div>
						</div>
						<div class="button-edit"><a href="">Editar Nóticia</a></div>
					</div>
					<h2 classe="newsTitle">Detalhes do cartão</h2>
					<p class="newsDescription"></p>
					<form class="container">
						<h3>Sua nota para esta Noticia!</h3>
						<!-- postado por @alguem ou vc e verificada por @adm em 23/43/2332 -->
						<div class="star-widget">
							<input type="radio" name="rate" id="rate-5">
							<label for="rate-5" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-4">
							<label for="rate-4" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-3">
							<label for="rate-3" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-2">
							<label for="rate-2" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-1">
							<label for="rate-1" class="fas fa-star"></label>
						</div>
					</form>
					<!-- botao editar ou salvar e... -->
					<div class="app">
						<div class="rating">
							<div class="rating__average">
								<h3>4.5</h3>
								<div class="star-outer">
									<div class="star-inner"></div>
								</div>
								<p></p>
							</div>
							<div class="rating__progress">
								<% for(let index = 1; index <= 5; index++) { %>
									<div class="rating__progress-value">
										<p>
											<%= index%><span class="star">&#9733;</span>
										</p>
										<div class="progress">
											<div class="bar"></div>
										</div>
										<p class="count">ariel</p>
									</div>
									<% } %>
							</div>
						</div>
					</div>
				</div>

				<div class="comments">
					<h2>Comentarios</h2>
					<hr>
					<div class="chat">
							<div class="comment">
								<div class="img">
									<img src="https://i.pinimg.com/originals/45/f2/33/45f233d8cca8630bdf0f6b263605b5bd.jpg" alt="">
								</div>
								<div class="text">
									<div class="details">
										<h6>name user</h6>
										<span>19/92/3233</span>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magni!</p>
								</div>
							</div>
					</div>
					<div class="input">
						<form action="" method="post">
							<input type="text" placeholder="Digite seu comentario">
							<button type="submit"><i class="fa-solid fa-comment"></i></button>
						</form>
					</div>
				</div>
			</dialog>
		</section>
	</main>
	<%- include('partials/footer.ejs') %>