<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | HOME' , styleSheet: 'index' }) %>
	<main>
		<section class="cover">
			<div class="background">
				<div class="capa">
					<div class="left">
						<h2>Ultimas notícias</h2>
						<div class="card">
							<div class="img">
								<img src="images/uploads/news/n1.png" alt="" />
							</div>
							<div class="text">
								<h3>
									Por que o Brasil tem caído em ranking global de desigualdade
									de gênero
								</h3>
								<p>
									'Progresso no mundo é lento, mas Brasil avança ainda mais
									devagar no combate à desigualdade de gênero', resume
									economista.
								</p>

								<div class="more">
									<a href="https://g1.globo.com/mundo/noticia/2023/03/06/por-que-brasil-tem-caido-em-ranking-global-de-desigualdade-de-genero.ghtml"
										target="_blank">Ler Mais</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="img">
								<img src="images/uploads/news/n2.png" alt="" />
							</div>
							<div class="text">
								<h3>Diferença salarial entre homens e mulheres vai a 22%, diz IBGE</h3>
								<p>
									Mulheres brasileiras recebem, em média, 78% do salário
									masculino. A diferença de remuneração entre homens e mulheres,
									que vinha em tendência de queda até 2020, voltou a subir no
									país e atingiu 22% no fim de 2022
								</p>
								<div class="more">
									<a href="https://www.cnnbrasil.com.br/economia/diferenca-salarial-entre-homens-e-mulheres-vai-a-22-diz-ibge/"
										target="_blank">Ler Mais</a>
								</div>
							</div>
						</div>
					</div>
					<div class="right">
						<span>Atual News</span>
						<h2>ExistindoNews</h2>
						<p>
							Bem-vindo ao nosso site de notícias feministas! Aqui, reunimos
							noticias de diferentes fontes relacionadas ao movimento feminista,
							empoderamento feminino, direitos das mulheres e igualdade de
							gênero.
						</p>
						<div class="news">
							<a href="#news">Notícias</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="news" id="news">
			<div class="header-section">
				<h1>InfoMais - Você sempre informado!</h1>
				<p>
					Pressione em "Ler mais" para ser desviado para a Fonte original com
					conteúdo completo
				</p>
				<form class="search-box" action="/" method="get">
					<input type="text" id="search-box" name="search" value="<%= search%>" placeholder="Pesquisar" />
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<p id="response"> Total de <%= totalCards%>
						<%= plural%>
				</p>
			</div>
			<div class="container" id="cardNews">
				<% cards.forEach(function(card) { %>
					<div class="card" id="id_news_<%= card.id%>">
						<div class="box-img">
						
							<div class="img">
								<img src="<%= card.image %>" target="_blank" alt="">
							</div>
							<div class="details">
								<% if(user != undefined) { %>
									<button class="open-dialog" id_news="<%= card.id %>" id_user="<%= card.id_user %>">
										<i class="fa-solid fa-circle-info"></i>
										<div class="star">
											<div class="star-outer">
												<div class="star-inner" style="width: <%= card.rating %>;"></div>
											</div>
										</div>
									</button>
									<% } %> 
										<span class="date">
											<%= card.release %>
										</span>
							</div>
						</div>
						<div class="text">
							<h3>
								<%= card.title %>
							</h3>
							<p>
								<%= card.description %>
							</p>
							<div class="more"><a href="<%= card.link %>" target="_blank"><span>Ler mais</span> <i
										class="fa-solid fa-arrow-right"></i></a></div>
						</div>
					</div>
					<% }); %>
			</div>
			<%- include('partials/dialog-news.ejs') %>

		</section>
	</main>
	<%- include('partials/footer.ejs') %>