<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | List Users' , styleSheet: 'list' }) %>
	<main>
		<section>
			<h1>Usuários cadastrados</h1>
			<ul>
				<% users.forEach(function(element) { %>
					<li>
						<span class="id">
							<%=element.id%>
						</span>
						<div class="profile">
							<div class="img"><img src="/images/uploads/profiles/<%= element.profile%>" alt=""></div>
							<a class="nickname" href="/users/dashboard/<%=element.nickname%>">
								<%=element.nickname%>
							</a>
						</div>
						<div class="birth"><span><%=element.birth%></span></div>
						<div class="type"><span><%-element.administrator?'Administrador': 'Usuário'%></span></div>
						<div class=" actions">
							<%if(user !=undefined ){%>
								<%if(user.administrator ){%>
									<a class="delete" href="/users/delete/<%=element.id%>"><i class="fa-solid fa-trash"></i>Banir</a>
									<%}%>
										<%}%>
						</div>
					</li>
					<%})%>
			</ul>
		</section>
	</main>
	<%- include('partials/footer.ejs') %>