<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | LOGIN' , styleSheet: 'form'}) %>
<main>
	<form action="/users/login" method="post">
		<h2>Bem vindo de volta!</h2>
		<h1>Faça login para continuar</h1>

		<div>
			<label for="email">E-mail:</label>
			<input required name="email" type="email" id="email" value="<%= backup.email %>" />
			<span><%- errorAction.email %></span>
		</div>

		<div>
			<label for="password">Senha:</label>
			<input required name="password" type="password" id="password" value="<%= backup.password%>" />
			<span><%- errorAction.password%></span>
		</div>

		<button type="submit">Entrar</button>

		<span id="footer">
			Não tem uma conta? <a href="/users/register">Criar uma nova</a>
		</span>
	</form>
</main>

<%- include('partials/footer.ejs') %>
