<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | Register' , styleSheet: 'form'}) %>

<main>
	<form action="/users/register" method="post">
		<h2>Seja muito bem vindo!</h2>
		<h1>Registrar nova conta</h1>

		<div>
			<label for="nickname">Apelido:</label>
			<input required name="nickname" type="text" id="nickname" value="<%= backup.nickname %>" />
			<span><%- errorAction.nickname %></span>
		</div>
		<div>
			<label for="name">Nome Completo:</label>
			<input required name="name" type="text" id="name" value="<%= backup.name %>" />
			<span><%- errorAction.name %></span>
		</div>

		<div>
			<label for="email">E-mail:</label>
			<input required name="email" type="email" id="email" value="<%= backup.email %>" />
			<span><%- errorAction.email %></span>
		</div>

		<div>
			<label for="password">Senha:</label>
			<input required name="password" type="password" id="password" value="<%= backup.password%>" />
			<span id="errorActionPassword"><%- errorAction.password %></span>
		</div>

		<div>
			<label for="confirmPassword">Confirme a senha:</label>
			<input required name="confirmPassword" type="password" id="confirmPassword" value="<%= backup.confirmPassword %>" />
			<span id="errorActionConfirmPassword"></span>
		</div>

		<div>
			<label for="birth">Data de nascimento:</label>
			<input required name="birth" type="date" id="birth" value="<%= backup.birth %>" />
			<span></span>
		</div>

		<div>
			<label for="gender">Gênero:</label>
			<select name="gender" id="gender">
				<option value="1">Masculino</option>
				<option value="0">Feminino</option>
			</select>
			<span></span>
		</div>

		<div>
			<label for="administrator">Tipo de conta:</label>
			<select name="administrator" id="administrator">
				<option value="0"><i class="fa-solid fa-user"></i>Usuario</option>
				<option value="1"><i class="fa-solid fa-user-gear"></i>Administrador</option>
			</select>
			<span></span>
		</div>

		<div>
			<label for="description">Descrição:</label>
			<textarea name="description" id="description"><%= backup.description %></textarea>
			<span></span>
		</div>

		<button type="submit">Cadastrar</button>
		<span id="footer">Já tem uma conta? <a href="/users/login">Entrar com existente</a></span>
	</form>
</main>

<script>
	$(document).ready(() => {
		$('#confirmPassword').on('input', compareInputs);
		$('#password').on('input', check);
	});

	function check() {
		if ($('#confirmPassword').val() != '') {
			compareInputs()
		}
	}

	function compareInputs() {
		$('#confirmPassword').val() != $('#password').val() ?
			$('#errorActionConfirmPassword').text('Senhas Não Conferem') :
			$('#errorActionConfirmPassword').text('')
	}
</script>

<script>
	$(document).ready(function() {
			const passwordField = $("#password");
			const messageField = $("#errorActionPassword");

			passwordField.on("input", function() {
					const password = passwordField.val();
					let messageError = ""

					messageError = password.split('').length < 8 ? "A senha deve conter pelo menos 8 caracteres" : messageError

					messageError =/[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password) ? messageError : "A senha deve conter pelo menos 1 caractere especial"

					messageError = /[A-Z]/.test(password)? messageError : "A senha deve conter pelo menos 1 letra maiúscula"
					messageError = /[a-z]/.test(password)? messageError : "A senha deve conter pelo menos 1 letra minuscula"

					messageError = /[0-9]/.test(password)? messageError : "A senha deve conter pelo menos 1 número"

					messageError = /^(?!.*([A-Za-z])\1{1})/.test(password) ? messageError : "A senha não deve conter letras iguais seguidas"
					
					password.split('').forEach(element => {
						if (element ==" ") {
							messageError = "A senha não deve conter espaços em branco"
						}
					});

					messageError = password == "" ? "Este campo não deve permanecer vazio" : messageError

					messageField.text(messageError);
			});
	});
</script>

<%- include('partials/footer.ejs') %>